{% extends 'dashboard/base.html' %}
{% block title %}
  Users Activity
{% endblock title %}
{% block content %}
  <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">User Activity</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Total Checked</th>
                    <th scope="col">Checked at</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in user_activity_list %}
                  <tr>
                    <th scope="row">
                      {{ user.username }}
                    </th>
                    <td>
                      {{ user.checked_mp }}
                    </td>
                    <td>
                      
                    </td>
                    <td>
                      
                        <a href="{% url 'user_checked_list' user.id %}" class="btn btn-sm btn-primary">View</a>
                      
                      <!-- <i class="fas fa-arrow-up text-success mr-3"></i> 46,53% -->
                    </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


 <!-- pagination -->      
{% if user_activity_list.has_other_pages %}
  <ul class="pagination">
    {% if user_activity_list.has_previous %}
      <li class="btn btn-sm btn-primary"><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled btn btn-sm btn-secondary"><span>&laquo;</span></li>
    {% endif %}
    {% for i in user_activity_list.paginator.page_range %}
      {% if user_activity_list.number == i %}
        <li class="active btn btn-sm btn-primary"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="btn btn-sm btn-primary"><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if user_activity_list.has_next %}
      <li class="btn btn-sm btn-primary"><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="btn btn-sm btn-secondary" class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock content %}