body {
  background: rgb(204, 204, 204);
  -webkit-print-color-adjust: exact !important; 
  font-size: 14px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

page[size="A3"] {
  background: white;
  width: 27.7cm;
  height: 42cm;
  display: block;
  margin: 0 auto;
  /* margin-bottom: 0.5cm; */
  /* box-shadow: 0 0 0.5cm rgba(0,0,0,0.5); */
  position: relative;
}

@media print {
  body,
  page[size="A3"] {
    margin: 10;
    box-shadow: 0;
  }
}

div[size="A4"] {
  background: white;
  /* display: block; */
  /* margin: 0 auto; */
  /* margin-bottom: 0.5cm; */
  /* box-shadow: 0 0 0.5cm rgba(0,0,0,0.5); */
  /* position: relative; */
  page-break-before: always;
  overflow: hidden;
  height: auto;
}

@media print {
  body,
  div[size="A4"] {
    margin: 0;
    margin-bottom: 50px;
    box-shadow: 0;
  }
}

.invoice-logo {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  /* display: table-cell; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  text-align: center;
}

.invoice-logo .logo {
  text-align: center;
  display: block;
  margin-bottom: 51px;
}

.invoice-logo .logo img {
  width: 482px;
}

.PageTitle {
  line-height: 34px;
  font-weight: bold;
}

.panel-sub-heading {
  padding: 8px 15px;
  border-bottom: 1px solid transparent;
  font-size: 25px;
  border-top-right-radius: -1px;
  border-top-left-radius: -1px;
}

.pageFooter {
  height: 50px;
  width: 100%;
  background: #000;
  position: absolute;
}

#content {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  text-align: center;
}

#header {
  position: absolute;
  width: 100%;
  top: 0;
  /* left: 0; */
  /* right: 0; */
  color: #ddd;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: table-footer-group;
  color: #555555;
  font-weight: normal;
  font-size: 11px;
  font-family: sans-serif;
}

@page {
  @top-center {
    content: element(header);
  }
}

@page {
  @bottom-center {
    content: element(footer);
  }
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 35px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.no-bordered > tbody > tr > td {
  border: 0px !important;
}

.bold {
  font-weight: bold;
}

.panel-min-heading {
  text-align: left;
}

.site-image {
  width: 793px;
}

.site-image img {
  width: 100%;
}

.text {
  text-align: left;
}

.panel-sub2-heading {
  font-size: 18px;
  font-weight: bold;
}

.no-padding {
  padding: 0px !important;
}

.main {
  overflow-y: auto;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  direction: rtl;
  height: 100vh;
}

.info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.info--right {
  padding-right: 1rem;
}
.info--right:nth-child(2) {
  margin-top: 1rem;
}
.info:nth-child(2):nth-child(2) {
  margin-top: 1rem;
}
 .headerRow div{
   height: 25px; font-weight: bold; padding-top: 25px;
 }
 .headerTable td ,  .headerTable  {
   border: 0px ;
 }
 .headerTable {
   margin-left: auto ;margin-right: auto; margin-bottom: 40px;
 }
 .table-title{
   padding-top: 25px;
   font-size: 16px ;
   font-weight: bold;
 }
 .table-logo{
   width: 40%;
 }
 .table-side-right{
  width: 30%;
} .table-side-left{
  width: 30%;
}
.report-text{
 
    font-size: 16px;
    font-weight: bold;
}
.mt-12{
  margin-top: 30px;
}
.report-note {
  /* text-center mt-2 mb-8 underline font-bold */
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
}
.report-logo{
  position: absolute ;width: 100%;;
}
.data-table{
  width: 100%;
}
.report-logo-img{
  display: block;
  margin: auto;
  height: 6rem;
}
.alignments {
  display: inline-block;
  width: 3rem;
}
.spacing-top {
  margin-top: 1rem;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.font-med {
  font-size: 1.5rem;
}
.font-large {
  font-size: 2rem;
}
.buttonsContainer {
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem;
}
.forward-btn {
  /* inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4
     font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500
      focus:outline-none focus:border-blue-700 focus:shadow-outline-blue
       active:bg-blue-700 transition ease-in-out duration-150 */
  display: inline-flex;
  align-items: center;
  padding-top: 0.5rem;
  border-color: transparent;
  color: white;
  background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
}

/** table styles*/
table {
  border: 1px black solid;
  border-collapse: collapse;
  margin-top: 2rem;
  width: 100%;
}

td , th{
  border: 1px black solid; padding-top: 5px; padding-bottom:  5px; text-align: right ; padding-right: 10px;
}

thead tr td,
tbody tr td {
  line-height: 25px;
  text-align: center;
  width: 50px;
  height: 25px;
}
.leftImage {
  float: left;
  position: fixed;
  left: 20px;
  top: 20px;
}
#Printtable {
  width: 860px;
  border: 2px #000 solid;
}
#Printtable thead td {
  background-color: #f1f1f1;
}
h1,
h2 {
  margin: 0px;
}

table.nobord {
  border: 0px;
}
table.nobord td {
  border: 0px;
  text-align: right;
}
.notToPrint{
  display: none;
}