{% extends "dashboard/base.html" %}
{% block title %}
Home
{% endblock title %}
{% block content %}
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-8">
      <div class="card bg-default">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 text-white mb-0">MiniPillar Map</h5>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                  <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                    <span class="d-none d-md-block">Month</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                  <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                    <span class="d-none d-md-block">Week</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart" id="map">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Last Checked</h3>
            </div>
            <div class="col text-right">
              <a href="{% url 'minipillar_checked_list' %}" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Checked By</th>
                <th scope="col">Checked at</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for minipillar in latest_minipillars %}
              <tr>
                <th scope="row">
                  {{ minipillar.id }}
                </th>
                <td>
                  {{ minipillar.checked_by }}
                </td>
                <td>
                  {{ minipillar.last_check_at }}
                </td>
                <td>
                  <a href="{% url 'minipillar_details' minipillar.id %}" class="btn btn-sm btn-primary">View</a>
                </td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Users Activity</h3>
            </div>
            <div class="col text-right">
              <a href="{% url 'user_activity_list' %}" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Total Checked</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for user in active_users %}
              <tr>
                <th scope="row">
                  {{ user.username }}
                </th>
                <td>
                  {{ user.checked_mp }}
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}