<!DOCTYPE html>
<html id="html" class="" lang="en">
{% load static %} {% load leaflet_tags %}

<head>
    {% leaflet_js %} {% leaflet_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abu-Hammad Map</title>
    <link rel="stylesheet" href="{% static 'leaflet-groupedlayercontrol\leaflet.groupedlayercontrol.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="{% static 'dist\leaflet.ajax.js' %}"></script>
    <script src="{% static 'leaflet-groupedlayercontrol\leaflet.groupedlayercontrol.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

</head>

<body id="body" class="">

    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
        <a class="navbar-brand" style="text-shadow: 0 0 2px white;" href="#">Abuhammad Web Map</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mr-0" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <div>
                        <div class="col-md-1" id="light"><img id="sun" width="30px" heigth="30px" src="{% static 'imgs/sun.png' %}" alt="" srcset=""></div>
                        <div class="col-md-1" id="dark"><img id="moon" width="30px" heigth="30px" src="{% static 'imgs/moon.png' %}" alt="" srcset=""></div>
                    </div>
                </li>

            </ul>

        </div>
    </nav>

    <div class="container-fulid">
        <div class="row mt-3">
            <div class="col-md-3">
                <div id="pie" class='pie-chart mb-1'>
                    <canvas id="chart-area"></canvas>
                </div>
                <div id="bar" class='bar-chart'>
                    <canvas id="canvas"></canvas>
                </div>
                <div class='info mt-1'>
                    <h6><b>SR: </b>UTM WGS84 SRID=4326</h6>
                    <br>
                    <h6>This is a web map of Abuhammad vector data (streets, landcover, ..etc)</h6>
                </div>

            </div>
            <div class="col-md-9">
                {% leaflet_map 'minipillar_map' callback='window.our_layers' %}
            </div>
        </div>


    </div>


    <!-- <button id="randomizeData" style='display: none;'> Randomize Data</button>
    <button id="addDataset" style='display: none;'>Add Dataset</button>
    <button id="removeDataset" style='display: none;'>Remove Dataset</button>
    <button id="addData" style='display: none;'>Add Data</button>
    <button id="removeData" style='display: none;'>Remove Data</button>

    <button id="randomizeData" style='display: none;'>Randomize Data</button>
    <button id="addDataset" style='display: none;'>Add Dataset</button>
    <button id="removeDataset" style='display: none;'>Remove Dataset</button> -->













    <script>
        $.ajax({
            url: 'http://localhost:8000/api/minipillar/records',
            type: 'get',
            //data: fd,
            headers: {'Authorization': 'token 9c783d0a28080efee84aa7b5b0262a851bd4f584'},
            contentType: false,
            processData: false,
            success: function(response){
    
                if(response != 0){
                   console.log(response);
                }
                else{
                    console.log(response);
                }
            },
        });
      

    </script>
    <script src="https://code.jquery.com/jquery-3.x-git.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>

    <!-- charts -->

    <!-- linear chart -->


    <!-- pie chart -->
    <script>
        var randomScalingFactor = function() {
            return Math.round(Math.random() * 100);
        };

        var config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        10,
                        2,
                        2,
                        6,
                        1,
                    ],
                    backgroundColor: [
                        'red',
                        'orange',
                        'yellow',
                        'green',
                        'blue',
                    ],
                    label: 'Area KM'
                }],
                labels: [
                    'Area 1',
                    'Area 2',
                    'Area 3',
                    'Area 4',
                    'Area 5'
                ]
            },
            options: {
                responsive: true
            }
        };

        window.onload = function() {
            var ctx = document.getElementById('chart-area').getContext('2d');
            window.myPie = new Chart(ctx, config);
        };
    </script>
    <script>
        // bar chart
        var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        var color = Chart.helpers.color;
        var barChartData = {
            labels: ['High Way', 'One Way', 'Bridge', 'Service', 'Metro', 'Airpath', 'Undefined'],
            datasets: [{
                label: 'Dataset 1',
                backgroundColor: color('red').alpha(0.5).rgbString(),
                borderColor: 'red',
                borderWidth: 1,
                data: [
                    5,
                    20,
                    13,
                    34,
                    34,
                    65,
                    10
                ]
            }, {
                label: 'Dataset 2',
                backgroundColor: color('blue').alpha(0.5).rgbString(),
                borderColor: 'blue',
                borderWidth: 1,
                data: [
                    5,
                    20,
                    13,
                    34,
                    34,
                    65,
                    10
                ]
            }]

        };

        window.onload = function() {
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Bar Chart'
                    }
                }
            });
            var pie_ctx = document.getElementById('chart-area').getContext('2d');
            window.myPie = new Chart(pie_ctx, config);

            var polar_ctx = document.getElementById('polar-chart');
            window.myPolarArea = Chart.PolarArea(polar_ctx, config);

            var linear_ctx = document.getElementById('line-chart').getContext('2d');
            window.myLine = new Chart(linear_ctx, config);

        };
    </script>
    <script>
        $("#dark").click(function() {
            $("html,body").addClass("html-dark");
            $("#pie").addClass("pie-chart-dark");
            $("#pie").addClass("pie-chart-dark");
            $("#bar").addClass("bar-chart-dark");
            $(".title").addClass("title-dark");
            $(".info").addClass("info-dark");
            $("nav").addClass("bg-darkk");
            $('#dark').hide();
            $('#light').show();
        });
        $("#light").click(function() {
            $("html,body").removeClass("html-dark");
            $("#pie").removeClass("pie-chart-dark");
            $("#pie").removeClass("pie-chart-dark");
            $("#bar").removeClass("bar-chart-dark");
            $(".title").removeClass("title-dark");
            $(".info").removeClass("info-dark");
            $("nav").removeClass("bg-darkk");
            $('#light').hide();
            $('#dark').show();
        });
    </script>

</body>

</html>

</html>